.bg
{
    background:linear-gradient(rgba(248,249,250,255),white);
}

.text-center .font
{
    font-size: 5vw;
}

.text-center p
{
    font-size: 1.2vw;
}

.card-body
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    flex: 0 !important;
}

.card
{
    width: 20vw;
    border: 0.1vw solid rgba(0,0,0,.125) !important;
    border-radius: 0.5vw !important;
}

.fw-bolder
{
    margin-bottom: 0.5vw;
    font-size: 1.5vw;
}

.text-center .harga
{  
    font-size: 1.2vw;
    margin-bottom: 0.5vw !important;
}

.col
{
    height: 35vw;
    display: flex;
    justify-content: center;
    margin: 1vw 0 !important;
}

.text-center button
{
    width: 10vw;
    font-size: 1vw;
    padding: 0.5vw !important;
    border-radius: 0.5vw;
    border:0.1vw solid black;
}

.grid
{
    width: 90vw;
    margin: 10vw auto;
    display: grid;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
}

.bg
{
    padding: 8vw !important;
}

hr
{
    height: 0.2vw !important;
    margin: 0 !important;
}

.text-muted
{
    margin-bottom: 1vw !important;
}

.box
{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.box input
{
    border: none;
    outline: none;
    padding: 0.2vw;
    margin: 0 0.5vw !important;
    border: 0.1vw solid black;
    border-radius: 0.6vw;
    font-size: 1vw;
}

.nice-number button
{
    border: none;
    border-radius: 0.4vw;
    padding: 0 0.7vw !important;
    outline: none;
    font-size: 1vw;
}

.nice-number button:hover
{
    background-color: #53c351;
    color: white;
}